SELECT TOP 1000 [ID]
      ,[PATIENTWL_KEY]
      ,[TRIGGER_DTTM] -- ??
      ,[REPLICA_DTTM]
      ,[PATIENT_ID]
      ,[PATIENT_NAME]
      ,[ENGLISH_NAME]
      ,[PATIENT_BIRTH_DTTM]
      ,[PATIENT_SEX]
      ,[PATIENT_WEIGHT]
      ,[TEL_NO]
  FROM [PACS].[dbo].[PATIENTWL]